<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CharactorFilter</filter-name>
        <filter-class>com.cn.filter.CharactorFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharactorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AppOperateServlet</servlet-name>
        <servlet-class>com.cn.Web.AppOperateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PCOperateServlet</servlet-name>
        <servlet-class>com.cn.Web.PCOperateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImgServlet</servlet-name>
        <servlet-class>com.cn.Web.UploadImgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZhongYangOperateServlet</servlet-name>
        <servlet-class>com.cn.Web.ZhongYangOperateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestBlockingQueueServlet</servlet-name>
        <servlet-class>com.cn.Web.TestBlockingQueueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVerificationCodeServlet</servlet-name>
        <servlet-class>com.cn.Web.GetVerificationCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppOperateServlet</servlet-name>
        <url-pattern>*.AppOperate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PCOperateServlet</servlet-name>
        <url-pattern>*.PCOperate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImgServlet</servlet-name>
        <url-pattern>/UploadImgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZhongYangOperateServlet</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestBlockingQueueServlet</servlet-name>
        <url-pattern>/TestBlockingQueueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVerificationCodeServlet</servlet-name>
        <url-pattern>/VerificationCode.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
